<template>
  <Story title="Essential Link" group="comp">
    <template #controls>
      <HstText v-model="title" title="Title" />
      <HstText v-model="caption" title="Caption" />
      <HstText v-model="link" title="Link" />
      <HstText v-model="icon" title="Icon" />
    </template>
    <Variant title="default">
      <EssentialLink
        :title="title"
        :caption="caption"
        :link="link"
        :icon="icon"
      />
    </Variant>
  </Story>
</template>
<script>
import EssentialLink from "./EssentialLink.vue";
import { defineComponent, ref } from "vue";

export default defineComponent({
  components: {
    EssentialLink,
  },
  setup() {
    const title = ref("Docs");
    const caption = ref("quasar.dev");
    const link = ref("https://quasar.dev");
    const icon = ref("school");

    return { title, caption, link, icon };
  },
});
</script>
