<template>
  <QCard class="my-card q-py-sm" :dark="dark">
    <QList :dark="dark">
      <QItem>
        <QItemSection avatar>
          <QSkeleton type="QAvatar" v-if="loading" />
          <QAvatar v-else>
            <img :src="avatar" :alt="name" />
          </QAvatar>
        </QItemSection>
        <QItemSection>
          <QItemLabel>
            <QSkeleton type="text" v-if="loading" />
            <strong v-else>{{ name }}</strong>
          </QItemLabel>
          <QItemLabel caption>
            <QSkeleton type="text" v-if="loading" />
            <p v-else>{{ title }}</p>
          </QItemLabel>
        </QItemSection>
        <QItemSection>
          <QSkeleton type="QBtn" v-if="loading" />
          <QBtn
            id="editBtn"
            color="light-blue-8"
            label="Edit"
            class="q-px-md"
            v-else
            :loading="editLoading"
            @click="edit"
          />
        </QItemSection>
      </QItem>
      <QSeparator />
      <QItem>
        <QItemSection>
          <QItemLabel class="text-center">
            <QSkeleton type="text" v-if="loading" />
            <strong v-else>{{ shots }}</strong>
          </QItemLabel>
          <QItemLabel class="text-center" caption> Shots </QItemLabel>
        </QItemSection>
        <QItemSection>
          <QItemLabel class="text-center">
            <QSkeleton type="text" v-if="loading" />
            <strong v-else>{{ followers }}</strong>
          </QItemLabel>
          <QItemLabel class="text-center" caption> Followers </QItemLabel>
        </QItemSection>
        <QItemSection>
          <QItemLabel class="text-center">
            <QSkeleton type="text" v-if="loading" />
            <strong v-else>{{ following }}</strong>
          </QItemLabel>
          <QItemLabel class="text-center" caption> Following </QItemLabel>
        </QItemSection>
        <QItemSection>
          <QItemLabel class="text-center">
            <QSkeleton type="text" v-if="loading" />
            <strong v-else>{{ lithning }}</strong>
          </QItemLabel>
          <QItemLabel class="text-center" caption> Lithning </QItemLabel>
        </QItemSection>
      </QItem>
      <QSeparator />
      <QItem>
        <QItemSection>
          <QSkeleton type="QBtn" v-if="loading" />
          <QBtn
            id="messageBtn"
            color="primary"
            icon="mail"
            label="Message"
            flat
            v-else
            :loading="messageLoading"
            @click="message"
          />
        </QItemSection>
        <QItemSection>
          <QSkeleton type="QBtn" v-if="loading" />
          <QBtn
            id="followBtn"
            color="grey"
            label="Follow"
            v-else
            :loading="followLoading"
            @click="follow"
          />
        </QItemSection>
      </QItem>
    </QList>
  </QCard>
</template>
<script>
import { defineComponent, toRefs, ref, onMounted } from "vue";
import {
  QAvatar,
  QCard,
  QList,
  QItem,
  QItemSection,
  QItemLabel,
  QBtn,
  QSeparator,
  QSkeleton,
  useQuasar,
} from "quasar";

export default defineComponent({
  name: "ProfileCard",
  components: {
    QAvatar,
    QCard,
    QList,
    QItem,
    QItemSection,
    QItemLabel,
    QBtn,
    QSeparator,
    QSkeleton,
  },
  props: {
    id: {
      type: String,
      required: true,
    },
    avatar: {
      type: String,
      required: false,
      default: "https://cdn.quasar.dev/img/boy-avatar.png",
    },
    name: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: false,
      default: "",
    },
    shots: {
      type: Number,
      required: true,
      default: 0,
    },
    followers: {
      type: Number,
      required: true,
      default: 0,
    },
    following: {
      type: Number,
      required: true,
      default: 0,
    },
    lithning: {
      type: Number,
      required: true,
      default: 0,
    },
    dark: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  emits: ["editProfile", "messageProfile", "followProfile"],
  setup(props, { emit }) {
    const $q = useQuasar();

    const {
      id,
      avatar,
      name,
      title,
      shots,
      followers,
      following,
      lithning,
      dark,
    } = toRefs(props);

    const loading = ref(true);
    const editLoading = ref(false);
    const messageLoading = ref(false);
    const followLoading = ref(false);

    const edit = () => {
      editLoading.value = true;
      emit("editProfile", id.value, () => {
        $q.dialog({
          dark: dark.value,
          title: "Editing Profile",
          message: `Editing ${name.value}'s profile...`,
        })
          .onOk(() => {
            console.log("OK");
          })
          .onCancel(() => {
            console.log("Cancel");
          })
          .onDismiss(() => {
            console.log("I am triggered on both OK and Cancel");
            editLoading.value = false;
          });
      });
    };
    const message = () => {
      messageLoading.value = true;
      emit("messageProfile", id.value, () => {
        $q.dialog({
          dark: dark.value,
          title: "Sent Message",
          message: `Message to ${name.value} sent!`,
        })
          .onOk(() => {
            console.log("OK");
          })
          .onCancel(() => {
            console.log("Cancel");
          })
          .onDismiss(() => {
            console.log("I am triggered on both OK and Cancel");
            messageLoading.value = false;
          });
      });
    };
    const follow = () => {
      followLoading.value = true;
      emit("followProfile", id.value, () => {
        $q.dialog({
          dark: dark.value,
          title: "Following Profile",
          message: `Now following ${name.value}'s profile!`,
        })
          .onOk(() => {
            console.log("OK");
          })
          .onCancel(() => {
            console.log("Cancel");
          })
          .onDismiss(() => {
            console.log("I am triggered on both OK and Cancel");
            followLoading.value = false;
          });
      });
    };

    onMounted(() => {
      loading.value = false;
    });

    return {
      loading,
      editLoading,
      messageLoading,
      followLoading,
      edit,
      message,
      follow,
    };
  },
});
</script>
