<template>
  <Story title="Profile Card" group="comp">
    <Variant title="Default" :init-state="defaultState">
      <template #default="{ state }">
        <ProfileCard
          :id="state.id"
          :avatar="state.avatar"
          :name="state.name"
          :title="state.title"
          :shots="state.shots"
          :followers="state.followers"
          :following="state.following"
          :lithning="state.lithning"
          :dark="state.dark"
          @editProfile="handleEdit"
          @messageProfile="handleMessage"
          @followProfile="handleFollowing"
        />
      </template>
      <template #controls="{ state }">
        <HstText v-model="state.id" title="ID" />
        <HstText v-model="state.name" title="Name" />
        <HstText v-model="state.title" title="title" />
        <HstText v-model="state.avatar" title="Avatar" />
        <HstNumber v-model="state.shots" :step="1" title="Shots" />
        <HstNumber v-model="state.followers" :step="1" title="Followers" />
        <HstNumber v-model="state.following" :step="1" title="Following" />
        <HstNumber v-model="state.lithning" :step="1" title="Lithning" />
        <HstCheckbox v-model="state.dark" title="Dark" />
      </template>
    </Variant>
  </Story>
</template>
<docs lang="md">
# Profile Card

Todo
</docs>
<script>
import { defineComponent } from "vue";
import ProfileCard from "./ProfileCard.vue";
import { logEvent, isDark } from "histoire/client";

import "quasar/dist/quasar.css";

export default defineComponent({
  components: {
    ProfileCard,
  },
  setup() {
    const defaultState = () => {
      return {
        id: "123456",
        avatar: "https://cdn.quasar.dev/img/boy-avatar.png",
        name: "AAE IdeaPro",
        title: "UI/UX Designer",
        shots: 69,
        followers: 2747,
        following: 678,
        lithning: 78,
        dark: isDark(),
      };
    };

    const handleEdit = (id, callback) => {
      logEvent("Edit!", {
        action: `Editing profile of ID ${id}.`,
      });
      callback();
    };

    const handleMessage = (id, callback) => {
      logEvent("Message!", {
        action: `Sending message to user of ID ${id}.`,
      });
      callback();
    };

    const handleFollowing = (id, callback) => {
      logEvent("Follow!", {
        action: `Following profile of ID ${id}.`,
      });
      callback();
    };

    return { handleEdit, handleMessage, handleFollowing, defaultState };
  },
});
</script>
