<template>
  <Story title="Socials Card" group="comp">
    <Variant title="Default">
      <q-card class="my-card q-py-sm">
        <q-item>
          <q-item-section>
            <q-btn
              color="light-blue-8"
              icon="fab fa-facebook-f"
              label="Share with facebook"
            />
          </q-item-section>
          <q-item-section avatar>
            <q-btn flat round color="grey-6" icon="fas fa-times" size="sm" />
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <q-btn
              color="grey-6"
              icon="fab fa-twitter"
              text-color="black"
              label="Tweet with twitter"
              outline
            />
          </q-item-section>
          <q-item-section avatar>
            <q-btn flat round color="grey-6" icon="fas fa-times" size="sm" />
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <q-btn
              color="grey-6"
              icon="fab fa-pinterest-p"
              text-color="black"
              label="Save with pinterest"
              outline
            />
          </q-item-section>
          <q-item-section avatar>
            <q-btn flat round color="grey-6" icon="fas fa-times" size="sm" />
          </q-item-section>
        </q-item>
      </q-card>
    </Variant>
  </Story>
</template>
