<template>
  <QCard class="my-card" :dark="dark">
    <QList :dark="dark">
      <QItem>
        <QItemSection>
          <QItemLabel caption> Give your support </QItemLabel>
        </QItemSection>
      </QItem>
      <QSeparator />
      <QItem>
        <QItemSection avatar>
          <QSkeleton type="QAvatar" v-if="loading" />
          <QBtn
            v-else
            id="campaignBtn"
            round
            color="blue-2"
            text-color="blue-8"
            icon="bolt"
            :loading="campaignLoading"
            @click="campaign"
          />
        </QItemSection>

        <QItemSection>
          <QBadge color="accent text-white"> Quantity: </QBadge>

          <QSlider
            v-model="quantity"
            :min="-20"
            :max="20"
            :step="4"
            label
            label-always
            color="light-green"
          />
        </QItemSection>
      </QItem>
      <QSeparator />
      <QItem>
        <QItemSection>
          <QSkeleton type="QBtn" v-if="loading" width="100%" />
          <QBtn
            v-else
            id="supportBtn"
            color="primary"
            icon-right="chevron_right"
            label="SUPPORT"
            flat
            :loading="supportLoading"
            @click="support"
          />
        </QItemSection>
      </QItem>
    </QList>
  </QCard>
</template>
<script>
import { defineComponent, toRefs, ref } from "vue";
import {
  QCard,
  QBadge,
  QList,
  QItem,
  QItemSection,
  QItemLabel,
  QBtn,
  QSeparator,
  QSkeleton,
  QSlider,
  useQuasar,
} from "quasar";

export default defineComponent({
  name: "SupportCard",
  components: {
    QCard,
    QBadge,
    QList,
    QItem,
    QItemSection,
    QItemLabel,
    QBtn,
    QSeparator,
    QSkeleton,
    QSlider,
  },
  props: {
    id: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
      default: false,
    },
    dark: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  emits: ["campaignStatus", "supportAction"],
  setup(props, { emit }) {
    const $q = useQuasar();
    const { id, name, dark } = toRefs(props);
    const quantity = ref(0);
    const campaignLoading = ref(false);
    const supportLoading = ref(false);

    const campaign = () => {
      campaignLoading.value = true;
      emit("campaignStatus", id.value, () => {
        $q.dialog({
          dark: dark.value,
          title: "Campaign Status",
          message: `Check ${name.value}'s campaign status.`,
        })
          .onOk(() => {
            console.log("OK");
          })
          .onCancel(() => {
            console.log("Cancel");
          })
          .onDismiss(() => {
            console.log("I am triggered on both OK and Cancel");
            campaignLoading.value = false;
          });
      });
    };
    const support = () => {
      supportLoading.value = true;
      emit("supportAction", id.value, quantity.value, () => {
        $q.dialog({
          dark: dark.value,
          title: "Thank you!",
          message: `Thanks for donating R$ ${quantity.value} to ${name.value}'s campaign!`,
        })
          .onOk(() => {
            console.log("OK");
          })
          .onCancel(() => {
            console.log("Cancel");
          })
          .onDismiss(() => {
            console.log("I am triggered on both OK and Cancel");
            supportLoading.value = false;
          });
      });
    };

    return { quantity, campaignLoading, supportLoading, campaign, support };
  },
});
</script>
