<template>
  <Story title="Support Card" group="comp">
    <Variant title="Default" :init-state="defaultState">
      <template #default="{ state }">
        <SupportCard
          :id="state.id"
          :name="state.name"
          :dark="state.dark"
          :loading="state.loading"
          @campaignStatus="handleCampaignStatus"
          @supportAction="handleSupport"
        />
      </template>
    </Variant>
    <Variant title="Loading" :init-state="loadingState">
      <template #default="{ state }">
        <SupportCard
          :id="state.id"
          :name="state.name"
          :dark="state.dark"
          :loading="state.loading"
          @campaignStatus="handleCampaignStatus"
          @supportAction="handleSupport"
        />
      </template>
    </Variant>
  </Story>
</template>
<docs lang="md">
# Support Card

Todo
</docs>
<script>
import { defineComponent } from "vue";
import SupportCard from "./SupportCard.vue";
import { logEvent, isDark } from "histoire/client";

export default defineComponent({
  components: {
    SupportCard,
  },
  setup() {
    const defaultState = () => {
      return {
        id: "123456",
        name: "AAE IdeaPro",
        dark: isDark(),
        loading: false,
      };
    };

    const loadingState = () => {
      return {
        id: "123456",
        name: "AAE IdeaPro",
        dark: isDark(),
        loading: true,
      };
    };

    const handleCampaignStatus = (id, callback) => {
      logEvent("Campaign Status!", {
        action: `Showing campaign status of profile of ID ${id}.`,
      });
      callback();
    };

    const handleSupport = (id, value, callback) => {
      logEvent("Support!", {
        action: `Sending R$ ${value} in support to user of ID ${id}.`,
      });
      callback();
    };

    return { defaultState, loadingState, handleCampaignStatus, handleSupport };
  },
});
</script>
