<template>
  <q-bar data-tauri-drag-region>
    <q-avatar @click="$router.push('/')">
      <img
        src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg"
        alt="Djengu App"
        style="width: 16px; height: 16px"
      />
    </q-avatar>
    <div>Djengu App</div>

    <q-space />

    <q-btn dense flat icon="minimize" @click="minimize" />
    <q-btn
      dense
      flat
      :icon="isMaximized ? 'filter_none' : 'crop_square'"
      @click="toggleMaximize"
    />
    <q-btn dense flat icon="close" @click="close" />
  </q-bar>
</template>
<script>
import { defineComponent, ref } from "vue";
import { appWindow } from "@tauri-apps/api/window";
export default defineComponent({
  name: "TauriNavbar",
  setup() {
    const isMaximized = ref(false);

    const minimize = () => appWindow.minimize();
    const toggleMaximize = () => {
      appWindow.toggleMaximize();
      isMaximized.value = !isMaximized.value;
    };
    const close = () => appWindow.close();

    return { isMaximized, minimize, toggleMaximize, close };
  },
});
</script>
