<template>
  <q-toolbar>
    <q-btn
      flat
      dense
      round
      icon="menu"
      aria-label="Menu"
      class="mobile-hide"
      @click="toggleLeftDrawer"
    />
    <q-space class="mobile-hide" />
    <q-toolbar-title shrink>
      <router-link to="/">
        <q-avatar @click="$router.push('/')">
          <img
            src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg"
            alt="Djengu App"
          />
        </q-avatar>
      </router-link>
    </q-toolbar-title>
    <q-space />
    <q-btn
      round
      dense
      :color="$q.dark.isActive ? 'primary' : 'dark'"
      :icon="$q.dark.isActive ? 'light_mode' : 'dark_mode'"
      @click="$q.dark.toggle()"
    />
  </q-toolbar>
</template>

<script>
import { defineComponent, inject } from "vue";

export default defineComponent({
  name: "WebNavbar",
  emits: ["toggleDrawer"],
  setup() {
    const bus = inject("bus");

    const toggleLeftDrawer = () => bus.emit("toggleDrawer");

    return { toggleLeftDrawer };
  },
});
</script>

<style></style>
