<template>
  <Story
    title="Configure your project"
    group="top"
    docs-only
    icon="carbon:bookmark"
    iconColor="#027be3"
  />
</template>

<docs lang="md">
![Pipeline](https://gitlab.com/fslawliet/djengu-framework/badges/main/pipeline.svg)
![Coverage](https://gitlab.com/fslawliet/djengu-framework/badges/main/coverage.svg)
![Latest Release](https://gitlab.com/fslawliet/djengu-framework/-/badges/release.svg)

# Welcome

This is a demo book using Vue 3.

---

Learn more about Histoire [here](https://histoire.dev/).
</docs>
