<template>
  <Story title="Button" group="quasar">
    <Variant title="Default" :init-state="defaultState">
      <template #default="{ state }">
        <QBtn
          :color="state.color"
          :text-color="state.textColor"
          :label="state.label"
          @click="
            logEvent('Click!', {
              action: 'click!',
              state: state,
              event: $event,
            })
          "
        />
      </template>
      <template #controls="{ state }">
        <HstText v-model="state.label" title="Label" />
        <HstText v-model="state.color" title="Color" />
        <HstText v-model="state.textColor" title="Text Color" />
      </template>
    </Variant>
    <Variant title="Primary" :init-state="primaryState">
      <template #default="{ state }">
        <QBtn
          :color="state.color"
          :label="state.color"
          @click="
            logEvent('Click!', {
              action: 'click!',
              state: state,
              event: $event,
            })
          "
        />
      </template>
      <template #controls="{ state }">
        <HstText v-model="state.label" title="Label" />
        <HstText v-model="state.color" title="Color" />
      </template>
    </Variant>
    <Variant title="Secondary" :init-state="secondaryState">
      <template #default="{ state }">
        <QBtn
          :color="state.color"
          :label="state.color"
          @click="
            logEvent('Click!', {
              action: 'click!',
              state: state,
              event: $event,
            })
          "
        />
      </template>
      <template #controls="{ state }">
        <HstText v-model="state.label" title="Label" />
        <HstText v-model="state.color" title="Color" />
      </template>
    </Variant>
    <Variant title="Amber" :init-state="amberState">
      <template #default="{ state }">
        <QBtn
          :color="state.color"
          :label="state.color"
          :glossy="state.glossy"
          @click="
            logEvent('Click!', {
              action: 'click!',
              state: state,
              event: $event,
            })
          "
        />
      </template>
      <template #controls="{ state }">
        <HstText v-model="state.label" title="Label" />
        <HstText v-model="state.color" title="Color" />
        <HstCheckbox v-model="state.glossy" title="Glossy" />
      </template>
    </Variant>
    <Variant title="Brown5" :init-state="brown5State">
      <template #default="{ state }">
        <QBtn
          :color="state.color"
          :label="state.color"
          @click="
            logEvent('Click!', {
              action: 'click!',
              state: state,
              event: $event,
            })
          "
        />
      </template>
      <template #controls="{ state }">
        <HstText v-model="state.label" title="Label" />
        <HstText v-model="state.color" title="Color" />
      </template>
    </Variant>
    <Variant title="DeepOrange" :init-state="deepOrangeState">
      <template #default="{ state }">
        <QBtn
          :color="state.color"
          :label="state.color"
          :glossy="state.glossy"
          @click="
            logEvent('Click!', {
              action: 'click!',
              state: state,
              event: $event,
            })
          "
        />
      </template>
      <template #controls="{ state }">
        <HstText v-model="state.label" title="Label" />
        <HstText v-model="state.color" title="Color" />
        <HstCheckbox v-model="state.glossy" title="Glossy" />
      </template>
    </Variant>
    <Variant title="Purple" :init-state="purpleState">
      <template #default="{ state }">
        <QBtn
          :color="state.color"
          :label="state.color"
          @click="
            logEvent('Click!', {
              action: 'click!',
              state: state,
              event: $event,
            })
          "
        />
      </template>
      <template #controls="{ state }">
        <HstText v-model="state.label" title="Label" />
        <HstText v-model="state.color" title="Color" />
      </template>
    </Variant>
    <Variant title="Black" :init-state="blackState">
      <template #default="{ state }">
        <QBtn
          :color="state.color"
          :label="state.color"
          @click="
            logEvent('Click!', {
              action: 'click!',
              state: state,
              event: $event,
            })
          "
        />
      </template>
      <template #controls="{ state }">
        <HstText v-model="state.label" title="Label" />
        <HstText v-model="state.color" title="Color" />
      </template>
    </Variant>
  </Story>
</template>
<docs lang="md">
# Button

Quasar has a component called `QBtn` which is a button with a few extra useful features. For instance, it comes in two shapes: rectangle (default) and round. It also has the material ripple effect baked in (which can be disabled).

The button component also comes with a spinner or loading effect. You would use this for times when app execution may cause a delay and you want to give the user some feedback about that delay. When used, the button will display a spinning animation as soon as the user clicks the button.

When not disabled or spinning, `QBtn` emits a `@click` event, as soon as it is clicked or tapped.
</docs>
<script>
import { defineComponent } from "vue";
import { QBtn } from "quasar";
import { logEvent } from "histoire/client";

export default defineComponent({
  components: { QBtn },
  setup() {
    const defaultState = () => {
      return {
        color: "white",
        textColor: "black",
        label: "Standard",
      };
    };
    const primaryState = () => {
      return {
        color: "primary",
        label: "Primary",
      };
    };
    const secondaryState = () => {
      return {
        color: "secondary",
        label: "Secondary",
      };
    };
    const amberState = () => {
      return {
        color: "amber",
        glossy: true,
        label: "Amber",
      };
    };
    const brown5State = () => {
      return {
        color: "brown-5",
        label: "Brown 5",
      };
    };
    const deepOrangeState = () => {
      return {
        color: "deep-orange",
        glossy: true,
        label: "Deep Orange",
      };
    };
    const purpleState = () => {
      return {
        color: "purple",
        label: "Purple",
      };
    };
    const blackState = () => {
      return {
        color: "black",
        label: "Black",
      };
    };

    return {
      defaultState,
      primaryState,
      secondaryState,
      amberState,
      brown5State,
      deepOrangeState,
      purpleState,
      blackState,
      logEvent,
    };
  },
});
</script>
