<template>
  <q-layout view="lHh Lpr lFf" :class="isTauri ? 'window' : ''">
    <q-header
      elevated
      :style="
        isTauri
          ? 'border-top-left-radius: 4px; border-top-right-radius: 4px'
          : ''
      "
    >
      <TauriNavbar v-if="isTauri" />
      <WebNavbar v-else />

      <TauriTopMenu v-if="isTauri" />
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      class="mobile-hide"
    >
      <q-list>
        <q-item-label header> {{ drawerMenu[0].title }} </q-item-label>
        <q-item
          v-for="link in drawerMenu[0].menus"
          :key="link.title"
          v-bind="link"
          clickable
          :to="{ name: link.target }"
        >
          <q-item-section v-if="link.icon" avatar>
            <q-icon :name="link.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ link.title }}</q-item-label>
            <q-item-label caption>{{ link.caption }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
    <q-page-sticky
      class="mobile-only"
      position="bottom-right"
      :offset="[18, 18]"
    >
      <q-btn fab icon="menu" color="primary" @click="showMobileMenu" />
    </q-page-sticky>
    <q-footer v-if="!isTauri" elevated>
      <div v-if="showAppInstallBanner" class="banner-container bg-secondary">
        <div class="constrain">
          <q-banner inline-actions dense class="bg-secondary text-white">
            <template v-slot:avatar>
              <q-avatar>
                <img src="icons/icon-128x128.png" alt="Djengu App" />
              </q-avatar>
            </template>
            <strong>Install PWA?</strong>
            <template v-slot:action>
              <q-btn
                flat
                label="Yes"
                class="q-px-sm"
                dense
                @click="installApp"
              />
              <q-btn
                flat
                label="Later"
                class="q-px-sm"
                dense
                @click="hideShowAppInstallBanner"
              />
              <q-btn
                flat
                label="Never"
                class="q-px-sm"
                dense
                @click="neverShowAppInstallBanner"
              />
            </template>
          </q-banner>
        </div>
      </div>
      <div style="margin: 8px 0; text-align: center">
        Quasar v{{ $q.version }}
      </div>
    </q-footer>
  </q-layout>
</template>

<script>
import {
  defineComponent,
  defineAsyncComponent,
  inject,
  onMounted,
  ref,
} from "vue";
import { useRouter } from "vue-router";
import { useQuasar } from "quasar";
import { invoke } from "@tauri-apps/api/tauri";
import { mainMenu } from "../utils/MainMenu";

import WebNavbar from "components/WebNavbar.vue";

export default defineComponent({
  name: "MainLayout",
  components: {
    TauriNavbar: defineAsyncComponent(() =>
      import("components/TauriNavbar.vue")
    ),
    TauriTopMenu: defineAsyncComponent(() =>
      import("components/TauriTopMenu.vue")
    ),
    WebNavbar,
  },
  setup() {
    const $q = useQuasar();
    const router = useRouter();
    const bus = inject("bus");

    const leftDrawerOpen = ref(false);
    const showAppInstallBanner = ref(false);
    const deferredPrompt = ref(null);
    const isTauri = ref(false);

    bus.on("toggleDrawer", () => {
      leftDrawerOpen.value = !leftDrawerOpen.value;
    });

    const showMobileMenu = () => {
      let actions = [];
      for (let submenu of mainMenu[0].menus) {
        actions.push({
          label: submenu.title,
          icon: submenu.icon,
          color: "primary",
          id: submenu.target,
        });
      }

      $q.bottomSheet({
        message: mainMenu[0].title,
        grid: true,
        actions,
      })
        .onOk((action) => {
          console.log("Action chosen:", action.id);
          router.push(`/${action.id}`);
        })
        .onCancel(() => {
          console.log("Dismissed");
        })
        .onDismiss(() => {
          console.log("I am triggered on both OK and Cancel");
        });
    };

    const hideShowAppInstallBanner = () => {
      showAppInstallBanner.value = false;
    };
    const neverShowAppInstallBanner = () => {
      hideShowAppInstallBanner();
      $q.localStorage.set("neverShowAppInstallBanner", true);
    };
    const installApp = () => {
      hideShowAppInstallBanner();
      if (deferredPrompt.value !== null) deferredPrompt.value.prompt();
      deferredPrompt.value.userChoice.then((choiceResult) => {
        if (choiceResult.outcome === "accepted") {
          $q.notify({
            type: "positive",
            message: "accepted",
            position: "top",
          });
          console.log("accepted");
        } else {
          $q.notify({
            type: "negative",
            message: "rejected",
            position: "top",
          });
          console.log("rejected");
        }
      });
    };

    if (isTauri.value) document.getElementById("q-app").classList.add("window");

    onMounted(() => {
      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (event.matches) {
            $q.localStorage.set("darkmode", true);
            $q.dark.set(true);
          } else {
            $q.localStorage.set("darkmode", false);
            $q.dark.set(false);
          }
        });

      isTauri.value = window.__TAURI__ ? true : false;
      if (isTauri.value) invoke("close_splashscreen");
      else {
        let neverShowAppInstallBanner = $q.localStorage.getItem(
          "neverShowAppInstallBanner"
        );
        if (!neverShowAppInstallBanner) {
          window.addEventListener("beforeinstallprompt", (e) => {
            e.preventDefault();
            deferredPrompt.value = e;
            showAppInstallBanner.value = true;
          });
        }
      }
    });

    return {
      showAppInstallBanner,
      isTauri,
      leftDrawerOpen,
      drawerMenu: mainMenu,
      showMobileMenu,
      installApp,
      hideShowAppInstallBanner,
      neverShowAppInstallBanner,
    };
  },
});
</script>
<style>
.window {
  height: 100vh;
  background-color: #f3f3f3;
  border-radius: 5px;
}
</style>
