<template>
  <q-page class="flex flex-center column">
    <h1 style="color: green; text-align: center">Green Page</h1>
    <q-btn label="Return to Index" :to="{ name: 'home' }" />
  </q-page>
</template>
<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "GreenPage",
});
</script>
