<template>
  <q-page class="flex flex-center column">
    <img
      alt="Djengu logo"
      :src="`src/assets/djengu-logo${$q.dark.isActive ? '-dark' : ''}.svg`"
      style="width: 300px"
    />
    <div style="text-align: center">
      <a href="https://github.com/johnckealy/djengu" target="_blank">
        <q-btn label="Documentation" glossy class="q-ma-lg" color="primary" />
      </a>
      <a :href="apiURL" target="_blank">
        <q-btn
          label="visit Django API"
          glossy
          class="q-ma-lg"
          color="primary"
        />
      </a>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, computed, onMounted, onBeforeUnmount } from "vue";
import { useQuasar, exportFile, QSpinnerGears } from "quasar";

export default defineComponent({
  name: "IndexPage",
  setup() {
    const $q = useQuasar();
    let timer;

    const apiURL = computed(() => `${process.env.API_URL}/admin`);

    onMounted(() => {
      $q.loading.show({
        spinner: QSpinnerGears,
        message: "Carregando...",
      });
      // hiding in 2s
      timer = setTimeout(() => {
        $q.loading.hide();
        timer = void 0;
      }, 2000);
    });

    onBeforeUnmount(() => {
      if (timer !== void 0) {
        clearTimeout(timer);
        $q.loading.hide();
      }
    });

    return { apiURL };
  },
});
</script>
