<template>
  <Story title="Profile Page" group="pages">
    <Variant title="Default">
      <QPage>
        <div class="q-pa-md">
          <div class="row q-col-gutter-md">
            <div class="col-4">
              <ProfileCard
                id="123456"
                avatar="https://cdn.quasar.dev/img/boy-avatar.png"
                name="AAE IdeaPro"
                title="UI/UX Designer"
                :shots="69"
                :followers="2747"
                :following="678"
                :lithning="78"
                :dark="isDark"
                @editProfile="handleEdit"
                @messageProfile="handleMessage"
                @followProfile="handleFollowing"
              />
            </div>
          </div>
        </div>
      </QPage>
    </Variant>
  </Story>
</template>
<script>
import { defineComponent } from "vue";
import ProfileCard from "../components/ProfileCard.vue";
import { logEvent, isDark } from "histoire/client";

export default defineComponent({
  components: {
    ProfileCard,
  },
  setup() {
    const handleEdit = (id, callback) => {
      logEvent("Edit!", {
        action: `Editing profile of ID ${id}.`,
      });
      callback();
    };

    const handleMessage = (id, callback) => {
      logEvent("Message!", {
        action: `Sending message to user of ID ${id}.`,
      });
      callback();
    };

    const handleFollowing = (id, callback) => {
      logEvent("Follow!", {
        action: `Following profile of ID ${id}.`,
      });
      callback();
    };

    return { handleEdit, handleMessage, handleFollowing };
  },
});
</script>
