<template>
  <q-page class="flex flex-center column">
    <h1 style="color: red; text-align: center">Red Page</h1>
    <q-btn label="Return to Index" :to="{ name: 'home' }" />
    <q-btn
      label="Export PDF"
      glossy
      class="q-ma-lg"
      color="primary"
      :loading="downloadLoading"
      @click="download"
    />
    <q-no-ssr>
      <v-pdf ref="pdf" :options="pdfOptions" :filename="exportFilename">
        <h2>HTML Table</h2>
        <table>
          <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
          </tr>
          <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
          </tr>
          <tr>
            <td>Ernst Handel</td>
            <td>Roland Mendel</td>
            <td>Austria</td>
          </tr>
          <tr>
            <td>Island Trading</td>
            <td>Helen Bennett</td>
            <td>UK</td>
          </tr>
          <tr>
            <td>Laughing Bacchus Winecellars</td>
            <td>Yoshi Tannamuri</td>
            <td>Canada</td>
          </tr>
          <tr>
            <td>Magazzini Alimentari Riuniti</td>
            <td>Giovanni Rovelli</td>
            <td>Italy</td>
          </tr>
        </table>

        <!-- You can loop to display page number as you want -->
        <div class="html2pdf__page-number">1</div>

        <!-- Break page pdf -->
        <div class="html2pdf__page-break"></div>
      </v-pdf>
    </q-no-ssr>
  </q-page>
</template>
<script>
import { defineComponent, ref, onMounted } from "vue";

export default defineComponent({
  name: "RedPage",
  setup() {
    const pdfOptions = ref({
      margin: 15,
      image: {
        type: "jpeg",
        quality: 1,
      },
      html2canvas: { scale: 3 },
      jsPDF: {
        unit: "mm",
        format: "a4",
        orientation: "p",
      },
    });
    const exportFilename = ref("report.pdf");
    const downloadLoading = ref(false);

    const pdf = ref(null);
    const download = () => {
      downloadLoading.value = true;
      try {
        pdf.value.download();
      } catch (e) {
        console.error(e);
      } finally {
        downloadLoading.value = false;
      }
    };

    onMounted(() => {});

    return { pdf, pdfOptions, exportFilename, downloadLoading, download };
  },
});
</script>
<style scoped>
table {
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
  border-collapse: collapse;
  th {
    background: #ddd;
    font-weight: bold;
  }
  td,
  th {
    padding: 8px;
    border: 1px solid #ccc;
  }
}
</style>
