<template>
  <router-view />
</template>

<script>
import { defineComponent } from "vue";
import { useQuasar } from "quasar";

export default defineComponent({
  name: "App",
  setup() {
    const $q = useQuasar();

    if ($q.localStorage.getItem("darkmode")) {
      $q.localStorage.set("darkmode", true);
      $q.dark.set(true);
    } else {
      $q.localStorage.set("darkmode", false);
      $q.dark.set(false);
    }
  },
});
</script>
